<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LadyHelp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/shared/variables.css" />
    <link rel="stylesheet" href="~/css/shared/lady-help.css" />
    <link rel="stylesheet" href="~/css/shared/layout.css" />
    <script type="text/javascript" src="https://kit.fontawesome.com/02d70372b7.js" crossorigin="anonymous"></script>
    <link rel="icon" href="~/assets/images/png/logo.jpeg">
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body name="ladyHelp">
    <div class="body-container">
        <div class="header">
            <div class="header-content">
                <a class="logo row10" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/images/png/logo.jpeg" alt="logo do site">
                </a>
                <a class="categories row15">
                    <i class="fas fa-bars"></i>
                    Categorias
                </a>
                <a class="row15">Sobre Nós</a>
                <form class="row50" asp-controller="Home" asp-action="Index" method="get">
                    <input class="input-default row100" placeholder="Pesquisar por Categoria ou Profissional" name="parameter" />
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <a class="user row10" asp-area="Identity" asp-page="/Account/Login">
                    @* Usuário Deslogado *@
                    <i class="far fa-user"></i>
                    @* Usuário Logado *@
                    @*<i class="fas fa-user"></i>*@
                </a>
            </div>
        </div>
        <div class="page-container">
            @RenderBody()
        </div>
        <footer>
            <hr />
            <form class="newsletter">
                <span>
                    Assine o nosso NEWSLETTER
                    <br />
                    Receba nossas novidades e promoções no seu e-mail
                </span>
                <input class="input-default name-input" placeholder="Nome" />
                <input class="input-default mail-input" placeholder="E-Mail" />
                <button>
                    Cadastrar
                </button>
            </form>
            <hr />
            <div class="information">
                <div class="info-company row50">
                    <span class="title">Empresa</span>
                    <span class="info-text">DataPrime | CNPJ: 00.000.000/0000-00</span>
                    <span class="title">Endereço</span>
                    <span class="info-text">RUA FRANCISCO GETÚLIO VARGAS, 1130 - CAXIAS DO SUL - RS - CEP: 95070-560</span>
                    <span class="title">FONE</span>
                    <span class="info-text">(54) 99999-9999</span>
                </div>
                <div class="categories row25">
                    <span class="title">Categorias de Serviços</span>
                    <span class="info-text">Teste</span>
                    <span class="info-text">Teste2</span>
                    <span class="info-text">Teste3</span>
                    <span class="info-text">Teste4</span>
                    <span class="info-text">Teste5</span>
                </div>
                <div class="about row25">
                    <span class="title">Sobre a LadyHelp</span>
                    <span class="info-text">Sobre Nós</span>
                    <span class="info-text">Onde nos Encontrar</span>
                </div>
            </div>
        </footer>
        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/shared/lady-help.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
