@page
@model IndexModel
@{
    ViewData["Title"] = "Página Inicial";
}

<div style="height: 800px">


    <h1 style="padding: 100px; font-size:50px">
        Temos q pensar como q vamos fazer essa home dos infernos
    </h1>

</div>