@page
@model RegisterCommomUserModel
@section Styles {
    <link type="text/css; charset=utf-8" rel="stylesheet" href="~/css/account/manage/register.css" />
}
<div name="registerUser">
    <div class="user-image">
        <div class="image" name="image-profile">
            <a name="remove-image"><i class="fas fa-times"></i></a>
        </div>
        <a name="without-image-profile">
            <i class="far fa-user"></i>
            <span>Imagem de Perfil</span>
        </a>
        <input name="imageProfile" type="file" class="type-file" />
    </div>
    <hr />
    <div class="registration-information">
        <div class="account-data">
            <span class="form-title" name="personal-data">Dados Pessoais</span>
            <span class="form-title" name="address">Endereço</span>
            <span class="form-title" name="account-data">Email/Senha</span>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="group">
                <div asp-validation-summary="All" class="text-danger">Nem todos os campos foram informados corretamente</div>
                <div class="form-content" name="personal-data-info">
                    <div class="group">
                        <div class="form-group row100">
                            <label class="cfc bold">Nome</label>
                            <input name="name" class="input-default row100" placeholder="Digite o seu Nome" />
                        </div>
                        <div class="form-group row50">
                            <label class="cfc bold">CPF</label>
                            <input name="cpf" class="input-default row100" type="number" min="0" max="99999999999" placeholder="Digite o seu CPF" />
                        </div>
                        <div class="form-group row50">
                            <label class="cfc bold">RG</label>
                            <input name="rg" class="input-default row100" placeholder="Confirme o seu RG" />
                        </div>
                        <div class="form-group row50">
                            <label class="cfc bold">Data de Nascimento</label>
                            <input name="birthDay" class="input-default row100" type="date" placeholder="Digite a sua Data de Nascimento" />
                        </div>
                        <div class="form-group row50">
                            <label class="cfc bold">Telefone</label>
                            <input name="phone" class="input-default row100" placeholder="Digite o seu Telefone" />
                        </div>
                    </div>
                </div>
                <div class="form-content" name="address-info">
                    <div class="group">
                        <div class="form-group row50">
                            <label class="cfc bold">CEP</label>
                            <input name="zipCode" class="input-default row100" type="number" min="0" maxlength="8" placeholder="Digite o seu CEP" />
                        </div>
                        <div class="form-group row50">
                            <label class="cfc bold">Logradouro</label>
                            <input name="street" class="input-default row100" placeholder="Digite o seu Logradouro" />
                        </div>
                        <div class="form-group row50">
                            <label class="cfc bold">Número</label>
                            <input name="houseNumber" class="input-default row100" type="number" min="0" placeholder="Digite o seu Número" />
                        </div>
                        <div class="form-group row50">
                            <label class="cfc bold">Complemento</label>
                            <input name="complement" class="input-default row100" placeholder="Digite o seu Complemento" />
                        </div>
                        <div class="form-group row50">
                            <label class="cfc bold">Bairro</label>
                            <input name="neighborhood" class="input-default row100" placeholder="Digite o seu Bairo" />
                        </div>
                        <div class="form-group row50">
                            <label class="cfc bold">Cidade</label>
                            <input name="city" class="input-default row100" placeholder="Digite a sua Cidade" />
                        </div>
                        <div class="form-group row50">
                            <label class="cfc bold">Estado</label>
                            <input name="state" class="input-default row100" placeholder="Confirme o seu Estado" />
                        </div>
                    </div>
                </div>
                <div class="form-content" name="account-data-info">
                    <div class="group">
                        <div class="form-group row100">
                            <label class="cfc bold">Email</label>
                            <input name="email" class="input-default row100" type="email" placeholder="Digite o seu Email" />
                        </div>
                        <div class="form-group row50">
                            <label class="cfc bold">Senha</label>
                            <input name="password" class="input-default row100" type="password" placeholder="Digite a sua Senha" />
                        </div>
                        <div class="form-group row50">
                            <label class="cfc bold">Confirmação de Senha</label>
                            <input name="confirmPassword" class="input-default row100" type="password" placeholder="Confirme a sua Senha" />
                        </div>
                    </div>
                </div>
                <div class="form-group row100">
                    <button class="default-button" name="formSubmit">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/Account/register.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
